body
{
	background-image: url("asdf4.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

.registered
{
	text-align: center;
	width: 300px;
	height: 50px;
	padding-top: 5%;
	margin: 10% auto;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
}

.register
{	
	text-align: center;
	width: 300px;
	height: 600px;
	padding-top: 2%;
	margin: 5% auto;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
}
.register label
{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.register input[type="text"]
{
	width: 150px;
	margin: 0px 0px 10px 0px;
}

.register input[type="password"]
{
	width: 150px;
	margin: 0px 0px 10px 0px;
}

form button
{
	margin-top: 30px;	
}